bcrypt
boto3
dnspython
Flask
Flask-Login
gunicorn
Jinja2
oauthlib
pymongo
requests
whitenoise
werkzeug>=3.0.3 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability