{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block main %}
<div id="carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">        
    {% for photo in photos %}
    <div class="carousel-item {% if loop.index == 1 %}active{% endif %}" id="slide{{ loop.index }}">
      <img class="d-block w-100" src="{{ photo }}" alt="{{ photo }}">
    </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-target="#carousel" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </button>
  <button class="carousel-control-next" type="button" data-target="#carousel" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </button>
</div>
<div class="center">
    <div class="col">
        <div class="row d-flex justify-content-center mt-4">
            <div>
                <form action="/register" method="get" style="width: 100px;">
                    <button type="submit" class="btn btn-primary btn-block">
                        Register
                    </button>
                </form>
                <form action="/login" method="get" style="width: 100px;">
                    <button type="submit" class="btn btn-primary btn-block">
                        Login
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}