{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block main %}
<div id="carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">        
{% for photo in photos %}
    <div class="carousel-item {% if loop.index == 1 %}active{% endif %}" id="slide{{ loop.index }}">
      <img class="d-block w-100" src="{{ url_for('static', filename='uploads/' + photo) }}" alt="{{ photo }}">
    </div>
{% endfor %}              
  </div>
  <a class="carousel-control-prev" data-target="#carousel" type="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </a>
  <a class="carousel-control-next" data-target="#carousel" type="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </a>
</div>
<div class="center">
    <div class="col">
        <div class="row d-flex justify-content-center mt-4">
            <div>
                <a class="btn btn-primary btn-block" href='/upload' role="button" style="width: 178px;">Upload Photos</a>
                <a class="btn btn-primary btn-block" href='/gallery' role="button" style="width: 178px;">Gallery</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}
