{% extends "base.html" %}

{% block title %}Upload{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <form action="/uploaded" method="POST" enctype="multipart/form-data">
          <div class="row d-flex justify-content-center mt-100">
          {% for message in get_flashed_messages() %}
          <h2>{{ message }}</h2>
          {% endfor %}            
            <div class="col-md-8">
              <div class="card">
                <div class="card-header">
                  <h5>Photo Upload</h5>
                </div>
                <div class="card-block">
                  <div class="form-group">
                    <label for="folder_dropdown">Destination Folder</label>
                    <select class="form-control" id="sel1" name="folder_dropdown">
                      <option value="Default">Default</option>
                      {% for folder in folders %}
                      <option value="{{ folder }}">{{ folder }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <input class="form-control" type="file" id="files" name="files" multiple />
                  <div class="text-center m-t-20">
                    <button type="submit" class="btn btn-primary">Upload</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}